{% extends "layout.html" %}
{% block body %}
<div class="box">
    <h2>How the thing works</h2>
    <p>A stat is used in games, these are what the players will use to keep
        track of their games.</p>
    <p>A formula is a sort of recipe for games. The players will create
        formulas and use them in their games. A formula is defined by a list of
         stats</p>
    <p>A game consists of a formula and a list of players. It also has two
        variables that are the time when the game starts and when it ends</p>
    <p>All games, players and formulas haves ids, so that they can be accessed
        and reviewed after their creation.</p>
</div>
<div class="box">
    <h2>Recent games</h2>
    <table>
        <tr class="thead">
            <td>Id</td>
            <td>Formula</td>
            <td>Ended</td>
        </tr>
        {% for g in recentgames %}
        <tr>
            <td><a href="/game/match/{{ g.id }}">{{ g.id }}</a></td>
            <td><a href="/formula/def/{{ g.formulaid }}">{{ g.formulaname }}</a></td>
            <td>{{ g.timeended }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="box">
    <h2>Top formulas</h2>
    <table>
        <tr class="thead">
            <td>Name</td>
            <td>Uses</td>
        </tr>
        {% for f in topformulas %}
        <tr>
            <td><a href="/formula/def/{{ f.id }}">{{ f.name }}</a></td>
            <td>{{ f.uses }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}