<!DOCTYPE html>
<title>Cruncher</title>
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='style.css') }}">
<body>
<div class="header">
    <a href="/"><h1>Cruncher</h1></a>
    <a href="/">Home</a>
    <a href="/player/list">Players</a>
    <a href="/game/list">Games</a>
    <a href="/formula/list">Formulas</a>
</div>
<div class=page>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>