{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Name:
        <dd><input type=text size=30 name=name>
        <dt>Email:
        <dd><input type=text size=30 name=email>
        <dd><input type=submit value=Share>
    </dl>
</form>
<div id="players">
    <ul class=entries>
        {% for entry in entries %}
        <li><a href="playerprofile/{{ entry.name }}">{{ entry.name }}</a>
            {% else %}
        <li><em>No registered players.</em>
            {% endfor %}
    </ul>
</div>
{% endblock %}